@font-face {
  font-family: "Akrobat";
  src: url("//cdn.tnt-online.ru/dsgn/kotex/fonts/Akrobat-Black/Akrobat-Black.eot");
  src: url("//cdn.tnt-online.ru/dsgn/kotex/fonts/Akrobat-Black/Akrobat-Black.eot?#iefix")format("embedded-opentype"),
  url("//cdn.tnt-online.ru/dsgn/kotex/fonts/Akrobat-Black/Akrobat-Black.woff") format("woff2"),
  url("//cdn.tnt-online.ru/dsgn/kotex/fonts/Akrobat-Black/Akrobat-Black.woff") format("woff"),
  url("//cdn.tnt-online.ru/dsgn/kotex/fonts/Akrobat-Black/Akrobat-Black.ttf") format("truetype");
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "Akrobat";
  src: url("//cdn.tnt-online.ru/dsgn/kotex/fonts/Akrobat-Bold/Akrobat-Bold.eot");
  src: url("//cdn.tnt-online.ru/dsgn/kotex/fonts/Akrobat-Bold/Akrobat-Bold.eot?#iefix")format("embedded-opentype"),
  url("//cdn.tnt-online.ru/dsgn/kotex/fonts/Akrobat-Bold/Akrobat-Bold.woff") format("woff2"),
  url("//cdn.tnt-online.ru/dsgn/kotex/fonts/Akrobat-Bold/Akrobat-Bold.woff") format("woff"),
  url("//cdn.tnt-online.ru/dsgn/kotex/fonts/Akrobat-Bold/Akrobat-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "Akrobat";
  src: url("//cdn.tnt-online.ru/dsgn/kotex/fonts/Akrobat-ExtraBold/Akrobat-ExtraBold.eot");
  src: url("//cdn.tnt-online.ru/dsgn/kotex/fonts/Akrobat-ExtraBold/Akrobat-ExtraBold.eot?#iefix")format("embedded-opentype"),
  url("//cdn.tnt-online.ru/dsgn/kotex/fonts/Akrobat-ExtraBold/Akrobat-ExtraBold.woff") format("woff2"),
  url("//cdn.tnt-online.ru/dsgn/kotex/fonts/Akrobat-ExtraBold/Akrobat-ExtraBold.woff") format("woff"),
  url("//cdn.tnt-online.ru/dsgn/kotex/fonts/Akrobat-ExtraBold/Akrobat-ExtraBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "Akrobat";
  src: url("//cdn.tnt-online.ru/dsgn/kotex/fonts/Akrobat-ExtraLight/Akrobat-ExtraLight.eot");
  src: url("//cdn.tnt-online.ru/dsgn/kotex/fonts/Akrobat-ExtraLight/Akrobat-ExtraLight.eot?#iefix")format("embedded-opentype"),
  url("//cdn.tnt-online.ru/dsgn/kotex/fonts/Akrobat-ExtraLight/Akrobat-ExtraLight.woff") format("woff2"),
  url("//cdn.tnt-online.ru/dsgn/kotex/fonts/Akrobat-ExtraLight/Akrobat-ExtraLight.woff") format("woff"),
  url("//cdn.tnt-online.ru/dsgn/kotex/fonts/Akrobat-ExtraLight/Akrobat-ExtraLight.ttf") format("truetype");
  font-style: normal;
  font-weight: 100;
}
@font-face {
  font-family: "Akrobat";
  src: url("//cdn.tnt-online.ru/dsgn/kotex/fonts/Akrobat-Light/Akrobat-Light.eot");
  src: url("//cdn.tnt-online.ru/dsgn/kotex/fonts/Akrobat-Light/Akrobat-Light.eot?#iefix")format("embedded-opentype"),
  url("//cdn.tnt-online.ru/dsgn/kotex/fonts/Akrobat-Lightt/Akrobat-Light.woff") format("woff2"),
  url("//cdn.tnt-online.ru/dsgn/kotex/fonts/Akrobat-Light/Akrobat-Light.woff") format("woff"),
  url("//cdn.tnt-online.ru/dsgn/kotex/fonts/Akrobat-Light/Akrobat-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "Akrobat";
  src: url("//cdn.tnt-online.ru/dsgn/kotex/fonts/Akrobat-Regular/Akrobat-Regular.eot");
  src: url("//cdn.tnt-online.ru/dsgn/kotex/fonts/Akrobat-Regular/Akrobat-Regular.eot?#iefix")format("embedded-opentype"),
  url("//cdn.tnt-online.ru/dsgn/kotex/fonts/Akrobat-Regular/Akrobat-Regular.woff") format("woff2"),
  url("//cdn.tnt-online.ru/dsgn/kotex/fonts/Akrobat-Regular/Akrobat-Regular.woff") format("woff"),
  url("//cdn.tnt-online.ru/dsgn/kotex/fonts/Akrobat-Regular/Akrobat-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Akrobat";
  src: url("//cdn.tnt-online.ru/dsgn/kotex/fonts/Akrobat-SemiBold/Akrobat-SemiBold.eot");
  src: url("//cdn.tnt-online.ru/dsgn/kotex/fonts/Akrobat-SemiBold/Akrobat-SemiBold.eot?#iefix")format("embedded-opentype"),
  url("//cdn.tnt-online.ru/dsgn/kotex/fonts/Akrobat-ExtraLight/Akrobat-ExtraLight.woff") format("woff2"),
  url("//cdn.tnt-online.ru/dsgn/kotex/fonts/Akrobat-ExtraLight/Akrobat-ExtraLight.woff") format("woff"),
  url("//cdn.tnt-online.ru/dsgn/kotex/fonts/Akrobat-SemiBold/Akrobat-SemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 800;
}
@font-face {
  font-family: "Akrobat";
  src: url("//cdn.tnt-online.ru/dsgn/kotex/fonts/Akrobat-Thin/Akrobat-Thin.eot");
  src: url("//cdn.tnt-online.ru/dsgn/kotex/fonts/Akrobat-Thin/Akrobat-Thin.eot?#iefix")format("embedded-opentype"),
  url("//cdn.tnt-online.ru/dsgn/kotex/fonts/Akrobat-ExtraLight/Akrobat-ExtraLight.woff") format("woff2"),
  url("//cdn.tnt-online.ru/dsgn/kotex/fonts/Akrobat-ExtraLight/Akrobat-ExtraLight.woff") format("woff"),
  url("//cdn.tnt-online.ru/dsgn/kotex/fonts/Akrobat-Thin/Akrobat-Thin.ttf") format("truetype");
  font-style: normal;
  font-weight: 200;
}
@font-face {
  font-family: "TNTSansCondensed-Regular";
  src: url("http://tnt-design.tnt-online.ru/tnt-sans/condensed/TNTSansCondensed-Regular.eot");
  src: url("http://tnt-design.tnt-online.ru/tnt-sans/condensed/TNTSansCondensed-Regular.eot?#iefix")format("embedded-opentype"),
  url("http://tnt-design.tnt-online.ru/tnt-sans/condensed/TNTSansCondensed-Regular.woff") format("woff"),
  url("http://tnt-design.tnt-online.ru/tnt-sans/condensed/TNTSansCondensed-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}