    /* Variables */
    // colors
    $white: #FFF;
    $red: #e91f3f;
    $black: #262626;

    // fonts
    $font_family: 'Rubik', sans-serif;

    // sizes window
    $mobile_p: 480px;
    $mobile_l: 767px;
    $tablets: 1024px;
    $desctops_s: 1280px;
    
    // animation start
    $skills-start-anim:0.8;
    $menuheight:80px;
    $menufixheight:50px;