.button {
    -webkit-appearance: none;
    font-size: 1em;
    background: $red;
    display: inline-block;
    color: $white;
    text-transform: uppercase;
    padding: 10px 25px;
    font-family: $font_family;
    margin-top: 25px;
    position: relative;
    z-index: 1; // box-shadow: 4px 4px 0 0 #a0000a;
    @include transition;

    &:hover {
        cursor: pointer;
        @include transform(translateY(8px));
        opacity: .8;
    }
}