.videofullpage {
    height: 100vh;
    overflow: hidden;
    background: url('../images/video_bg.jpg');
    background-size: cover;
    background-position: top center;
    display: flex;
    align-items: center;

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .videofullpage-iframe {
        position: relative;
        padding-bottom: 56.25%;
        /* 16:9 */
        height: 0;
        width:100%;
 
    /* Adding pseudo element to iframe parent */
    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        display: block;
    }
 }
    /* Adding hover effect to pseudo element */
    .videofullpage-iframe:hover:after {
        content: none;
    }

    .clickplay {
        right: 12vw;
    }
}