.prizespage{
    background: #dee2e8;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;

    .prizespage__girl{
    	height: 100vh;
    	float:left;
    	    margin-right: 30px;
    }
    .prizespage__text{
    	display:inline-block;
    .top-text{
    	color:$black;
    	text-transform: uppercase;
        font-family: $font_family;
        text-align: left;
        font-weight: 600;
font-size: 3.0vw;
    line-height: 2.5vw;

                span{
                font-size: 2.2vw;
                line-height: 2.2vw;
                font-weight: 400;
                }
    }
    .middle-text{
    	color:$red;
    	text-transform: uppercase;
        font-family: $font_family;
        text-align: left;
            font-weight: 600;
    font-size: 2.5vw;
    line-height: 2.8vw;
        margin: 30px 0px;
    display: block;
    }
    .bottom-text{
    	color:$black;
    	text-transform: uppercase;
        font-family: $font_family;
     text-align: left;
    font-weight: 400;
    font-size: 2.5vw;
    line-height: 5.0vw;

        span{
        	color:$red;
        text-transform: uppercase;
        font-family: $font_family;
        text-align: left;
       font-weight: 600;
    font-size: 3.5vw;
    line-height: 5.0vw;
    width: 5.5vw;
    display: inline-block;
        }
    }
}
.prizespage__bottomtext{
	color:#8d9093;
	  text-transform: uppercase;
     font-family: $font_family;
    font-weight: 400;
     font-size: 1.0vw;
    line-height: 1.5vw;
    display: block;
    margin-top: 20px;
}
.prizespage__img{
	display: block;
    width: 100%;
    text-align: right;
        right: 10px;
    position: relative;

.prizespage__packs{
    width: 20vw;
        margin-top: 10px;
    position: relative;
}
}
.prizespage__info{
	    right: 4vw;
	    margin-top:3vh;
    position: absolute;
}
}