@import url(~react-owl-carousel2/owl.carousel.css);
@font-face {
  font-family: "Akrobat";
  src: url("//cdn.tnt-online.ru/dsgn/kotex/fonts/Akrobat-Black/Akrobat-Black.eot");
  src: url("//cdn.tnt-online.ru/dsgn/kotex/fonts/Akrobat-Black/Akrobat-Black.eot?#iefix") format("embedded-opentype"), url("//cdn.tnt-online.ru/dsgn/kotex/fonts/Akrobat-Black/Akrobat-Black.woff") format("woff2"), url("//cdn.tnt-online.ru/dsgn/kotex/fonts/Akrobat-Black/Akrobat-Black.woff") format("woff"), url("//cdn.tnt-online.ru/dsgn/kotex/fonts/Akrobat-Black/Akrobat-Black.ttf") format("truetype");
  font-style: normal;
  font-weight: 600; }

@font-face {
  font-family: "Akrobat";
  src: url("//cdn.tnt-online.ru/dsgn/kotex/fonts/Akrobat-Bold/Akrobat-Bold.eot");
  src: url("//cdn.tnt-online.ru/dsgn/kotex/fonts/Akrobat-Bold/Akrobat-Bold.eot?#iefix") format("embedded-opentype"), url("//cdn.tnt-online.ru/dsgn/kotex/fonts/Akrobat-Bold/Akrobat-Bold.woff") format("woff2"), url("//cdn.tnt-online.ru/dsgn/kotex/fonts/Akrobat-Bold/Akrobat-Bold.woff") format("woff"), url("//cdn.tnt-online.ru/dsgn/kotex/fonts/Akrobat-Bold/Akrobat-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 500; }

@font-face {
  font-family: "Akrobat";
  src: url("//cdn.tnt-online.ru/dsgn/kotex/fonts/Akrobat-ExtraBold/Akrobat-ExtraBold.eot");
  src: url("//cdn.tnt-online.ru/dsgn/kotex/fonts/Akrobat-ExtraBold/Akrobat-ExtraBold.eot?#iefix") format("embedded-opentype"), url("//cdn.tnt-online.ru/dsgn/kotex/fonts/Akrobat-ExtraBold/Akrobat-ExtraBold.woff") format("woff2"), url("//cdn.tnt-online.ru/dsgn/kotex/fonts/Akrobat-ExtraBold/Akrobat-ExtraBold.woff") format("woff"), url("//cdn.tnt-online.ru/dsgn/kotex/fonts/Akrobat-ExtraBold/Akrobat-ExtraBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700; }

@font-face {
  font-family: "Akrobat";
  src: url("//cdn.tnt-online.ru/dsgn/kotex/fonts/Akrobat-ExtraLight/Akrobat-ExtraLight.eot");
  src: url("//cdn.tnt-online.ru/dsgn/kotex/fonts/Akrobat-ExtraLight/Akrobat-ExtraLight.eot?#iefix") format("embedded-opentype"), url("//cdn.tnt-online.ru/dsgn/kotex/fonts/Akrobat-ExtraLight/Akrobat-ExtraLight.woff") format("woff2"), url("//cdn.tnt-online.ru/dsgn/kotex/fonts/Akrobat-ExtraLight/Akrobat-ExtraLight.woff") format("woff"), url("//cdn.tnt-online.ru/dsgn/kotex/fonts/Akrobat-ExtraLight/Akrobat-ExtraLight.ttf") format("truetype");
  font-style: normal;
  font-weight: 100; }

@font-face {
  font-family: "Akrobat";
  src: url("//cdn.tnt-online.ru/dsgn/kotex/fonts/Akrobat-Light/Akrobat-Light.eot");
  src: url("//cdn.tnt-online.ru/dsgn/kotex/fonts/Akrobat-Light/Akrobat-Light.eot?#iefix") format("embedded-opentype"), url("//cdn.tnt-online.ru/dsgn/kotex/fonts/Akrobat-Lightt/Akrobat-Light.woff") format("woff2"), url("//cdn.tnt-online.ru/dsgn/kotex/fonts/Akrobat-Light/Akrobat-Light.woff") format("woff"), url("//cdn.tnt-online.ru/dsgn/kotex/fonts/Akrobat-Light/Akrobat-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: 300; }

@font-face {
  font-family: "Akrobat";
  src: url("//cdn.tnt-online.ru/dsgn/kotex/fonts/Akrobat-Regular/Akrobat-Regular.eot");
  src: url("//cdn.tnt-online.ru/dsgn/kotex/fonts/Akrobat-Regular/Akrobat-Regular.eot?#iefix") format("embedded-opentype"), url("//cdn.tnt-online.ru/dsgn/kotex/fonts/Akrobat-Regular/Akrobat-Regular.woff") format("woff2"), url("//cdn.tnt-online.ru/dsgn/kotex/fonts/Akrobat-Regular/Akrobat-Regular.woff") format("woff"), url("//cdn.tnt-online.ru/dsgn/kotex/fonts/Akrobat-Regular/Akrobat-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400; }

@font-face {
  font-family: "Akrobat";
  src: url("//cdn.tnt-online.ru/dsgn/kotex/fonts/Akrobat-SemiBold/Akrobat-SemiBold.eot");
  src: url("//cdn.tnt-online.ru/dsgn/kotex/fonts/Akrobat-SemiBold/Akrobat-SemiBold.eot?#iefix") format("embedded-opentype"), url("//cdn.tnt-online.ru/dsgn/kotex/fonts/Akrobat-ExtraLight/Akrobat-ExtraLight.woff") format("woff2"), url("//cdn.tnt-online.ru/dsgn/kotex/fonts/Akrobat-ExtraLight/Akrobat-ExtraLight.woff") format("woff"), url("//cdn.tnt-online.ru/dsgn/kotex/fonts/Akrobat-SemiBold/Akrobat-SemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 800; }

@font-face {
  font-family: "Akrobat";
  src: url("//cdn.tnt-online.ru/dsgn/kotex/fonts/Akrobat-Thin/Akrobat-Thin.eot");
  src: url("//cdn.tnt-online.ru/dsgn/kotex/fonts/Akrobat-Thin/Akrobat-Thin.eot?#iefix") format("embedded-opentype"), url("//cdn.tnt-online.ru/dsgn/kotex/fonts/Akrobat-ExtraLight/Akrobat-ExtraLight.woff") format("woff2"), url("//cdn.tnt-online.ru/dsgn/kotex/fonts/Akrobat-ExtraLight/Akrobat-ExtraLight.woff") format("woff"), url("//cdn.tnt-online.ru/dsgn/kotex/fonts/Akrobat-Thin/Akrobat-Thin.ttf") format("truetype");
  font-style: normal;
  font-weight: 200; }

@font-face {
  font-family: "TNTSansCondensed-Regular";
  src: url("http://tnt-design.tnt-online.ru/tnt-sans/condensed/TNTSansCondensed-Regular.eot");
  src: url("http://tnt-design.tnt-online.ru/tnt-sans/condensed/TNTSansCondensed-Regular.eot?#iefix") format("embedded-opentype"), url("http://tnt-design.tnt-online.ru/tnt-sans/condensed/TNTSansCondensed-Regular.woff") format("woff"), url("http://tnt-design.tnt-online.ru/tnt-sans/condensed/TNTSansCondensed-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

/* Variables */
/* Mixins */
.header {
  height: 100vh;
  overflow: hidden; }
  .header .header__content {
    bottom: -15vh;
    z-index: 1;
    position: absolute;
    right: 8vw;
    width: 50vw;
    text-align: center; }
    .header .header__content .header__text {
      color: #FFF;
      text-transform: uppercase;
      font-family: "Rubik", sans-serif;
      font-weight: 500;
      font-size: 3vw;
      line-height: 3.5vw;
      text-align: center;
      top: 40%;
      right: 10%;
      margin-bottom: 20px; }
      @media (max-width: 768px) {
        .header .header__content .header__text {
          margin-bottom: 1vh; } }
      .header .header__content .header__text span {
        font-weight: 800; }
  .header .header__info {
    background: url("../images/header/header_bg.jpg");
    background-size: cover;
    background-position: top;
    height: 79vh;
    position: relative; }
    .header .header__info .header__girl {
      width: 43vh;
      margin-top: 22vh;
      position: relative;
      left: 12vw; }
    .header .header__info .header__logo {
      width: 30vw;
      margin: 5px 0 50px; }
      @media (max-width: 768px) {
        .header .header__info .header__logo {
          margin: 0px 0 2vh; } }
    .header .header__info .header__packs img {
      width: 100%; }

.menu {
  color: #FFF;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  width: 100%;
  background: #e91f3f;
  height: 80px;
  padding: 0 20px;
  position: fixed;
  z-index: 9;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear; }
  @media (max-width: 768px) {
    .menu {
      width: 100vw;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      height: 50px;
      justify-content: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center; } }
  .menu .logo {
    padding: 0 15px;
    width: 200px;
    position: absolute;
    background: #FFF;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear; }
    @media (max-width: 768px) {
      .menu .logo {
        width: 140px; } }
    .menu .logo img {
      width: 100%; }
      @media (max-width: 768px) {
        .menu .logo img {
          height: 65px;
          width: auto; } }
  .menu .logo.small {
    height: 70px;
    width: 150px;
    padding: 0; }
    .menu .logo.small img {
      padding: 19px 0px 5px;
      object-fit: cover;
      height: 60px; }
  .menu .menu-ul {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-flow: row nowrap;
    align-items: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    width: 100%;
    margin-left: 28vw; }
    @media (max-width: 768px) {
      .menu .menu-ul {
        display: none; } }
    .menu .menu-ul__li {
      position: relative;
      list-style: none;
      padding: 4px 1.5vw;
      margin: 2px 0;
      color: #FFF;
      font-weight: 500;
      font-size: 1.1em;
      letter-spacing: 0.5px;
      text-transform: uppercase; }
      .menu .menu-ul__li--active {
        color: #FFF; }
      .menu .menu-ul__li:hover {
        cursor: pointer; }
      .menu .menu-ul__li a {
        color: #FFF;
        text-decoration: none; }
        .menu .menu-ul__li a--active {
          color: #FFF; }

.menu.small {
  height: 50px; }
  @media (max-width: 768px) {
    .menu.small {
      display: none; } }

.menu.down {
  height: 50px; }

.menu.down .logo img {
  width: 60%;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear; }

.toggle-menu {
  display: none; }
  @media (max-width: 768px) {
    .toggle-menu {
      box-sizing: content-box;
      width: 45px;
      height: 35px;
      background-color: #e91f3f;
      display: block;
      overflow: hidden;
      position: absolute;
      padding-top: 10px;
      padding-left: 5%;
      top: 0px;
      cursor: pointer;
      pointer-events: auto;
      z-index: 9; } }
  .toggle-menu__inner {
    width: 21px; }
    .toggle-menu__inner > div {
      width: 100%;
      height: 1px;
      background-color: #fff;
      position: relative;
      margin-bottom: 4px; }
      .toggle-menu__inner > div:after {
        content: '';
        background-color: #e91f3f;
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: -100%;
        -webkit-animation: toggleMenu 2s infinite;
        -moz-animation: toggleMenu 2s infinite;
        -ms-animation: toggleMenu 2s infinite;
        -o-animation: toggleMenu 2s infinite;
        animation: toggleMenu 2s infinite; }
      .toggle-menu__inner > div:nth-of-type(2):after {
        animation-delay: 0.4s; }
      .toggle-menu__inner > div:nth-of-type(3):after {
        animation-delay: 0.6s; }

@-webkit-keyframes toggleMenu {
  from {
    left: -100%; }
  to {
    left: 100%; } }

@-moz-keyframes toggleMenu {
  from {
    left: -100%; }
  to {
    left: 100%; } }

@-ms-keyframes toggleMenu {
  .toggle-menu__inner > div from {
    left: -100%; }
  .toggle-menu__inner > div to {
    left: 100%; } }

@-o-keyframes toggleMenu {
  from {
    left: -100%; }
  to {
    left: 100%; } }

@keyframes toggleMenu {
  from {
    left: -100%; }
  to {
    left: 100%; } }

.mobile-menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000; }
  .mobile-menu--is-active {
    display: block; }
    .mobile-menu--is-active ul li {
      opacity: 1 !important;
      -webkit-transition-delay: 0.25s !important;
      transition-delay: 0.25s !important; }
    .mobile-menu--is-active .mobile-menu__bg {
      width: calc(100vw + 100vh); }
  .mobile-menu .mobile-menu-inner {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 3;
    justify-content: center;
    display: flex;
    align-items: center; }
  .mobile-menu ul {
    position: relative;
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
    max-width: 420px;
    z-index: 3; }
  .mobile-menu ul li {
    font-size: calc(14px + 3vw);
    color: #FFF;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 10px;
    display: block;
    overflow: hidden;
    position: relative;
    opacity: 1;
    -webkit-transition-delay: 0.25s;
    transition-delay: 0.25s;
    margin-bottom: 40px;
    opacity: 0;
    -moz-transition: opacity 0.4s linear;
    -o-transition: opacity 0.4s linear;
    -webkit-transition: opacity 0.4s linear;
    transition: opacity 0.4s linear; }
  .mobile-menu__close, .mobile-menu__bg {
    position: absolute;
    top: 0;
    height: 100%;
    z-index: 1; }
  .mobile-menu__bg {
    width: 0;
    left: 50%;
    background-color: #000;
    -moz-transition: width 0.25s linear;
    -o-transition: width 0.25s linear;
    -webkit-transition: width 0.25s linear;
    transition: width 0.25s linear;
    -moz-transform: skewX(-45deg) translateX(-50%);
    -o-transform: skewX(-45deg) translateX(-50%);
    -ms-transform: skewX(-45deg) translateX(-50%);
    -webkit-transform: skewX(-45deg) translateX(-50%);
    transform: skewX(-45deg) translateX(-50%); }
  .mobile-menu__close {
    left: 0;
    width: 100%;
    z-index: 2; }

.videofullpage {
  height: 100vh;
  overflow: hidden;
  background: url("../images/video_bg.jpg");
  background-size: cover;
  background-position: top center;
  display: flex;
  align-items: center;
  /* Adding hover effect to pseudo element */ }
  .videofullpage iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  .videofullpage .videofullpage-iframe {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */
    height: 0;
    width: 100%;
    /* Adding pseudo element to iframe parent */ }
    .videofullpage .videofullpage-iframe:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      display: block; }
  .videofullpage .videofullpage-iframe:hover:after {
    content: none; }
  .videofullpage .clickplay {
    right: 12vw; }

*:focus {
  outline: none; }

.contestpage {
  position: relative;
  background: url("../images/contest/contest-bg.jpg");
  background-size: cover;
  background-position: top center;
  height: 100vh;
  overflow: hidden; }
  .contestpage button.start-contest {
    margin-top: 5px; }
  @media (max-width: 768px) {
    .contestpage {
      padding-top: 0;
      overflow: visible;
      height: auto; } }
  .contestpage .previewComponent {
    display: none; }
  .contestpage .owlitem {
    width: 90%;
    margin: 0 auto; }
  .contestpage .owlitem.active-slide {
    width: 100%; }
    .contestpage .owlitem.active-slide .item_img {
      width: 100%;
      padding: 15% 13.5% 0; }
  .contestpage .item_img {
    padding-top: 21%;
    overflow: hidden;
    width: 71%;
    margin: 0 auto; }
    .contestpage .item_img img {
      background: #fff;
      padding-bottom: 6vh; }
  .contestpage .item_frame {
    position: absolute;
    width: 86%;
    margin-top: 7%; }
    .contestpage .item_frame:hover {
      cursor: pointer; }
  .contestpage .owlitem.active-slide .item_frame {
    width: 100%;
    margin-top: 0%; }
  .contestpage .owl-carousel .owl-item.active-slide {
    padding: 0vw !important; }
    .contestpage .owl-carousel .owl-item.active-slide .owlitem {
      width: 100%; }
    .contestpage .owl-carousel .owl-item.active-slide .item_img {
      padding: 15% 13.5% 0;
      width: 100%; }
      .contestpage .owl-carousel .owl-item.active-slide .item_img img {
        background: #fff; }
    .contestpage .owl-carousel .owl-item.active-slide .item_frame {
      width: 100%;
      margin-top: 0%; }
  .contestpage .owl-prev {
    left: -4%; }
  .contestpage .owl-next {
    right: -4%; }
  .contestpage .owl-nav {
    top: 36%; }
  .contestpage .tagline_frame {
    display: inline-block;
    text-align: center;
    position: relative; }
    .contestpage .tagline_frame .block_tagline {
      width: 100%;
      position: absolute;
      bottom: 8%;
      left: 0;
      text-align: center; }
      .contestpage .tagline_frame .block_tagline .tagline_img {
        max-height: 51px;
        height: 2.5vw;
        width: auto !important;
        position: relative; }
  .contestpage .block5-tagline_frame img {
    max-height: 45vh;
    width: auto; }
  .contestpage .contest-child {
    width: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex; }
  .contestpage .contestpage__block2-left {
    width: 20%;
    display: inline-block;
    font-size: 1.5vw;
    font-weight: 500; }
  .contestpage .contestpage__block2.contest-child .contestpage__block2-left {
    width: 25%; }
  .contestpage .block2-icon .contest-icon {
    width: 5vw;
    display: block;
    margin-bottom: 10px; }
    .contestpage .block2-icon .contest-icon img {
      width: 100%; }
  .contestpage h3 {
    font-weight: 500;
    margin: 0 0 10px; }
    @media (max-width: 768px) {
      .contestpage h3 {
        margin: 0; } }
  @media (max-width: 768px) {
    .contestpage {
      padding-bottom: 0px; } }
  .contestpage .contestpage__block {
    background: url("../images/contest/cry1.png");
    background-size: cover;
    background-position: top center;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    align-items: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    justify-content: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    height: 100%; }
    .contestpage .contestpage__block .contestpage__center-block {
      background-image: -o-linear-gradient(to right top, #edeff2, #e4e7eb, #dbdfe4, #d3d7dd, #cacfd6);
      background-image: -moz-linear-gradient(to right top, #edeff2, #e4e7eb, #dbdfe4, #d3d7dd, #cacfd6);
      background-image: -webkit-linear-gradient(to right top, #edeff2, #e4e7eb, #dbdfe4, #d3d7dd, #cacfd6);
      background-image: linear-gradient(to right top, #edeff2, #e4e7eb, #dbdfe4, #d3d7dd, #cacfd6);
      padding: 3vw;
      width: 90%;
      margin-top: 50px;
      min-height: 60vh;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      max-height: 80vh; }
      @media (max-width: 768px) {
        .contestpage .contestpage__block .contestpage__center-block {
          margin-top: 0px;
          height: 100vh;
          max-height: auto;
          width: 100%;
          padding: 2vw; } }
    .contestpage .contestpage__block .contestpage__left-block {
      z-index: 2;
      position: relative;
      color: #262626;
      font-family: "Rubik", sans-serif;
      text-align: left;
      width: 55%;
      display: inline-block; }
      .contestpage .contestpage__block .contestpage__left-block .top-text {
        color: #262626;
        text-transform: uppercase;
        font-family: "Rubik", sans-serif;
        text-align: left;
        font-weight: 600;
        font-size: 2.5vw;
        line-height: 3vw;
        display: block; }
      .contestpage .contestpage__block .contestpage__left-block .top-description {
        color: #262626;
        font-family: "Rubik", sans-serif;
        text-align: left;
        font-weight: 400;
        font-size: 1.5vw;
        line-height: 2vw;
        margin-top: 12px;
        display: block;
        text-transform: none;
        margin-bottom: 5px; }
      .contestpage .contestpage__block .contestpage__left-block ul {
        margin: 0; }
        .contestpage .contestpage__block .contestpage__left-block ul li {
          display: -webkit-box;
          display: -moz-box;
          display: -ms-flexbox;
          display: -webkit-flex;
          align-items: center;
          text-align: left;
          font-weight: 400;
          font-size: 1.5vw;
          line-height: 2vw;
          margin-top: 12px;
          text-transform: none; }
          .contestpage .contestpage__block .contestpage__left-block ul li span {
            background: url("../images/contest/contest-round.png");
            background-size: cover;
            background-position: top center;
            width: 3.5vw;
            height: 3.5vw;
            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            align-items: center;
            justify-content: center;
            color: #FFF;
            font-weight: 800;
            float: left;
            margin-right: 15px; }
      .contestpage .contestpage__block .contestpage__left-block a {
        color: #262626;
        display: block;
        margin-top: 15px;
        font-size: 14px; }
    .contestpage .contestpage__block .contestpage__right-block {
      z-index: 2;
      position: relative;
      width: 40%;
      float: right;
      top: 3vh;
      position: relative; }
      .contestpage .contestpage__block .contestpage__right-block .contestpage__girl {
        width: 100%; }
  .contestpage .contestpage__block1.hide,
  .contestpage .contest-child,
  .contestpage .contest-child.hide {
    display: none !important; }
  .contestpage .contestpage__block1.active,
  .contestpage .contestpage__block2.active,
  .contestpage .contestpage__block4.active,
  .contestpage .contestpage__block5.active {
    display: flex !important; }
  .contestpage .contestpage__block3.active {
    display: block !important; }
  .contestpage .contestpage__block2 .contestpage__block2-right {
    display: flex !important;
    align-items: center !important; }
    .contestpage .contestpage__block2 .contestpage__block2-right img {
      padding-left: 30px;
      width: 100%;
      margin-bottom: 10px; }
  .contestpage .contestpage__block2 .contestpage__block2-right {
    width: 30%; }
  .contestpage .contestpage__block2 .contestpage__block2-middle {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    align-items: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    width: 45%;
    border: 1px solid red;
    padding: 3vw 4vw 2vw; }
    @media (max-width: 768px) {
      .contestpage .contestpage__block2 .contestpage__block2-middle {
        padding: 2vw 4vw 1vw; } }
    .contestpage .contestpage__block2 .contestpage__block2-middle form {
      width: 100%;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      align-items: center;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column; }
      .contestpage .contestpage__block2 .contestpage__block2-middle form .checkbox-block {
        margin: 10px 0;
        position: relative;
        width: 100%; }
      .contestpage .contestpage__block2 .contestpage__block2-middle form input {
        padding: 13px;
        width: 100%;
        border: none;
        margin: 10px 0; }
        @media (max-width: 768px) {
          .contestpage .contestpage__block2 .contestpage__block2-middle form input {
            margin: 8px 0; } }
      .contestpage .contestpage__block2 .contestpage__block2-middle form input[type="checkbox"] {
        position: absolute;
        left: -9999px; }
      .contestpage .contestpage__block2 .contestpage__block2-middle form label[for='age'] {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        align-items: center; }
      .contestpage .contestpage__block2 .contestpage__block2-middle form input[type="checkbox"] + label:before {
        content: "";
        display: inline-block;
        background: #FFF;
        padding: 19px;
        margin-right: 10px; }
      .contestpage .contestpage__block2 .contestpage__block2-middle form input[type="checkbox"]:checked + label:before {
        background: #e91f3f; }
      .contestpage .contestpage__block2 .contestpage__block2-middle form input[type="submit"] {
        width: auto !important;
        margin-top: 30px; }
        @media (max-width: 768px) {
          .contestpage .contestpage__block2 .contestpage__block2-middle form input[type="submit"] {
            margin-top: 5px; } }
  .contestpage .contestpage__block3-right {
    width: 80%;
    display: block;
    float: right;
    align-items: center;
    height: 100%;
    justify-content: center; }
    .contestpage .contestpage__block3-right .contestpage__block3-content {
      text-align: center; }
  .contestpage .contestpage-taglines-left,
  .contestpage .contestpage-taglines-right {
    width: 50%; }
    .contestpage .contestpage-taglines-left span,
    .contestpage .contestpage-taglines-right span {
      display: block; }
  .contestpage .contestpage__block4.contest-child .contestpage__block2-left {
    width: 15%; }
  .contestpage .contestpage__block4.contest-child .contestpage__block4-middle {
    width: 35%;
    padding: 0 35px 0 10px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    align-items: center; }
    .contestpage .contestpage__block4.contest-child .contestpage__block4-middle img {
      width: 100%; }
  .contestpage .contestpage__block4.contest-child .contestpage__block4-right {
    width: 50%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    align-items: center;
    position: relative; }
    .contestpage .contestpage__block4.contest-child .contestpage__block4-right .contestpage-taglines-left,
    .contestpage .contestpage__block4.contest-child .contestpage__block4-right .contestpage-taglines-right {
      width: 50%;
      padding: 0% 6%;
      float: left;
      text-align: left; }
      .contestpage .contestpage__block4.contest-child .contestpage__block4-right .contestpage-taglines-left .tagelement,
      .contestpage .contestpage__block4.contest-child .contestpage__block4-right .contestpage-taglines-right .tagelement {
        padding: 9px 0%;
        text-align: left;
        display: inline-block; }
        .contestpage .contestpage__block4.contest-child .contestpage__block4-right .contestpage-taglines-left .tagelement img,
        .contestpage .contestpage__block4.contest-child .contestpage__block4-right .contestpage-taglines-right .tagelement img {
          height: 2.3vw;
          max-height: 45px;
          width: auto; }
        .contestpage .contestpage__block4.contest-child .contestpage__block4-right .contestpage-taglines-left .tagelement span,
        .contestpage .contestpage__block4.contest-child .contestpage__block4-right .contestpage-taglines-right .tagelement span {
          width: 100%;
          height: 0.9vw;
          margin-top: -5px; }
        .contestpage .contestpage__block4.contest-child .contestpage__block4-right .contestpage-taglines-left .tagelement:hover,
        .contestpage .contestpage__block4.contest-child .contestpage__block4-right .contestpage-taglines-right .tagelement:hover {
          cursor: pointer; }
      .contestpage .contestpage__block4.contest-child .contestpage__block4-right .contestpage-taglines-left .tagelement.active span,
      .contestpage .contestpage__block4.contest-child .contestpage__block4-right .contestpage-taglines-right .tagelement.active span {
        cursor: pointer;
        background: url("../images/contest/contest4-border.png");
        background-size: cover;
        background-position: top center;
        background-repeat: no-repeat; }
  .contestpage .contestpage__block4.contest-child .contestpage__block4-content {
    text-align: center;
    width: 100%; }
  .contestpage .contestpage__block4.contest-child .button.select-tagline {
    bottom: -20px;
    position: absolute;
    left: 37%; }
    @media (max-width: 768px) {
      .contestpage .contestpage__block4.contest-child .button.select-tagline {
        bottom: 0px; } }
  .contestpage .contestpage__block5-middle {
    width: 100%;
    position: absolute;
    left: 0;
    align-items: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    justify-content: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
  .contestpage .contestpage__block4.contest-child .contest-icon {
    width: 4vw; }
  .contestpage .contestpage__crystall {
    height: 100vh;
    position: absolute;
    background: url("../images/contest/contest-crystall.png");
    background-size: cover;
    background-position: center center;
    height: 100%;
    width: 100%;
    z-index: 1; }
    @media (max-width: 768px) {
      .contestpage .contestpage__crystall {
        display: none; } }

.vk,
.fb {
  font-size: 23px;
  color: #FFF;
  float: left;
  width: 45px;
  height: 45px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  justify-content: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center; }

.vk {
  background: #4474a8;
  margin-right: 12px; }

.fb {
  background: #275993; }

.prizespage {
  background: #dee2e8;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center; }
  .prizespage .prizespage__girl {
    height: 100vh;
    float: left;
    margin-right: 30px; }
  .prizespage .prizespage__text {
    display: inline-block; }
    .prizespage .prizespage__text .top-text {
      color: #262626;
      text-transform: uppercase;
      font-family: "Rubik", sans-serif;
      text-align: left;
      font-weight: 600;
      font-size: 3.0vw;
      line-height: 2.5vw; }
      .prizespage .prizespage__text .top-text span {
        font-size: 2.2vw;
        line-height: 2.2vw;
        font-weight: 400; }
    .prizespage .prizespage__text .middle-text {
      color: #e91f3f;
      text-transform: uppercase;
      font-family: "Rubik", sans-serif;
      text-align: left;
      font-weight: 600;
      font-size: 2.5vw;
      line-height: 2.8vw;
      margin: 30px 0px;
      display: block; }
    .prizespage .prizespage__text .bottom-text {
      color: #262626;
      text-transform: uppercase;
      font-family: "Rubik", sans-serif;
      text-align: left;
      font-weight: 400;
      font-size: 2.5vw;
      line-height: 5.0vw; }
      .prizespage .prizespage__text .bottom-text span {
        color: #e91f3f;
        text-transform: uppercase;
        font-family: "Rubik", sans-serif;
        text-align: left;
        font-weight: 600;
        font-size: 3.5vw;
        line-height: 5.0vw;
        width: 5.5vw;
        display: inline-block; }
  .prizespage .prizespage__bottomtext {
    color: #8d9093;
    text-transform: uppercase;
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-size: 1.0vw;
    line-height: 1.5vw;
    display: block;
    margin-top: 20px; }
  .prizespage .prizespage__img {
    display: block;
    width: 100%;
    text-align: right;
    right: 10px;
    position: relative; }
    .prizespage .prizespage__img .prizespage__packs {
      width: 20vw;
      margin-top: 10px;
      position: relative; }
  .prizespage .prizespage__info {
    right: 4vw;
    margin-top: 3vh;
    position: absolute; }

.memberpage {
  padding: 50px 0 50px;
  height: 100vh;
  overflow: hidden;
  background: url("../images/members/members-bg.jpg");
  background-size: cover;
  background-position: top center; }
  @media (max-width: 768px) {
    .memberpage {
      padding: 0px; } }
  .memberpage .center_block {
    display: flex;
    align-items: center;
    flex-direction: column; }
  .memberpage .members__block {
    color: #FFF;
    background: #e91f3f; }
  .memberpage .winners__block {
    border: 1px solid #FFF;
    color: #FFF; }
  .memberpage .memberpage__toggle {
    margin: 4vh 30px 5vh;
    text-align: center;
    padding: 15px 40px;
    text-transform: uppercase;
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-size: 2vw;
    line-height: 2.3vw;
    display: inline-block; }
    .memberpage .memberpage__toggle span {
      font-weight: 500; }
  .memberpage .members__toggle-blocks {
    display: flex;
    justify-content: center; }
  .memberpage .memberpage__container {
    width: 90%;
    margin: 0 auto; }
    @media (max-width: 767px) {
      .memberpage .memberpage__container {
        width: 95%; } }
  .memberpage .owl-stage-outer .owlitem {
    margin: 0 30px; }
    .memberpage .owl-stage-outer .owlitem img {
      width: auto;
      text-align: center;
      max-height: 28vh;
      max-width: 100%;
      margin-left: auto;
      margin-right: auto; }

.owl-nav {
  position: absolute;
  top: 40%;
  width: 100%; }

.owl-prev,
.owl-next {
  font-size: 3.5vw;
  color: #e91f3f;
  position: absolute; }

.owl-prev {
  left: -3%; }

.owl-next {
  right: -3%; }

.footer {
  height: 100vh;
  overflow: hidden;
  background: url("");
  background-size: cover;
  background-position: top center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }
  .footer .footer__logo {
    width: 80%;
    max-width: 700px; }
    @media (max-width: 768px) {
      .footer .footer__logo {
        margin-top: 20px;
        width: 60%; } }
    .footer .footer__logo img {
      width: 100%; }
  .footer .clickplay {
    font-size: 12vw;
    margin-top: 40px;
    color: #e91f3f;
    position: relative; }
    @media (max-width: 768px) {
      .footer .clickplay {
        margin-top: 20px;
        margin-bottom: 30px; } }
  .footer .license {
    bottom: 30px;
    position: absolute; }

.owlitem img {
  display: block;
  margin-bottom: 5vh; }

.testpage {
  height: 100vh;
  overflow: hidden;
  position: relative; }
  .testpage .testpage__view1 {
    z-index: 2;
    height: 100%;
    width: 100%;
    background: url("../images/test/test-bg.jpg");
    background-size: cover;
    background-position: top center;
    -moz-transition: "opacity .3 linear" 0.3s linear;
    -o-transition: "opacity .3 linear" 0.3s linear;
    -webkit-transition: "opacity .3 linear" 0.3s linear;
    transition: "opacity .3 linear" 0.3s linear; }
    .testpage .testpage__view1 .testpage__view1-info {
      position: absolute;
      top: 30%;
      right: 12%;
      width: auto;
      height: auto; }
      .testpage .testpage__view1 .testpage__view1-info .testpage__view1-text {
        color: #262626;
        text-transform: uppercase;
        font-family: "Rubik", sans-serif;
        text-align: left;
        font-weight: 400;
        font-size: 4.0vw;
        line-height: 4.5vw; }
        .testpage .testpage__view1 .testpage__view1-info .testpage__view1-text span {
          font-weight: 700; }
    .testpage .testpage__view1 .test-girl {
      max-width: 45vw;
      position: absolute;
      top: 60px;
      left: 2.5vw; }
  .testpage .testpage__viewcontainer {
    position: relative;
    height: 100vh;
    z-index: 1;
    background: #d5dae0 url("../images/test/test-bg-crystals.png");
    background-size: cover;
    background-position: top center; }
  .testpage .testpage__view1.hide {
    opacity: 0;
    display: none; }
  .testpage .testpage__view {
    position: absolute; }
  .testpage .testpage__child {
    display: none;
    opacity: 0;
    align-items: center; }
    .testpage .testpage__child .testpage__child-girl {
      position: relative;
      left: 7%;
      height: auto;
      float: left;
      width: 29%;
      margin-right: 9%;
      text-align: center; }
    .testpage .testpage__child img {
      width: auto !important;
      max-width: 100%;
      height: auto;
      max-height: 76vh;
      margin-top: -7.7vh; }
  .testpage .testpage__child-info {
    width: 60%;
    float: right;
    padding-right: 5%;
    min-height: 42vh; }
    .testpage .testpage__child-info .answer {
      font-family: "Rubik", sans-serif;
      font-size: 1em;
      line-height: 1.3;
      margin-top: 25px;
      display: block;
      text-transform: uppercase;
      border-left: 22px solid #e91f3f;
      padding-left: 20px;
      height: 45px;
      display: flex;
      align-items: center;
      -moz-transition: all 0.1s linear 0.3s linear;
      -o-transition: all 0.1s linear 0.3s linear;
      -webkit-transition: all 0.1s linear 0.3s linear;
      transition: all 0.1s linear 0.3s linear; }
      .testpage .testpage__child-info .answer:hover {
        cursor: pointer;
        background: #e91f3f;
        color: #FFF;
        border-left: 22px solid #FFF; }
    .testpage .testpage__child-info .answer.active {
      background: #e91f3f;
      color: #FFF; }

.testpage__child.active {
  display: flex;
  opacity: 1; }

.button {
  -webkit-appearance: none;
  font-size: 1em;
  background: #e91f3f;
  display: inline-block;
  color: #FFF;
  text-transform: uppercase;
  padding: 10px 25px;
  font-family: "Rubik", sans-serif;
  margin-top: 25px;
  position: relative;
  z-index: 1;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear; }
  .button:hover {
    cursor: pointer;
    -moz-transform: translateY(8px);
    -o-transform: translateY(8px);
    -ms-transform: translateY(8px);
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
    opacity: .8; }

.clickplay {
  z-index: 3;
  display: block;
  position: absolute;
  font-size: 13vw;
  color: #FFF;
  -webkit-animation: scaleBtn 3s linear infinite;
  -moz-animation: scaleBtn 3s linear infinite;
  -ms-animation: scaleBtn 3s linear infinite;
  -o-animation: scaleBtn 3s linear infinite;
  animation: scaleBtn 3s linear infinite; }
  .clickplay:hover {
    cursor: pointer;
    animation-play-state: paused; }

.iframevideo {
  width: 100%;
  height: 100%;
  position: absolute; }

/* keyframes */
@-webkit-keyframes scaleBtn {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.1); }
  100% {
    transform: scale(1); } }

@-moz-keyframes scaleBtn {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.1); }
  100% {
    transform: scale(1); } }

@-ms-keyframes scaleBtn {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.1); }
  100% {
    transform: scale(1); } }

@-o-keyframes scaleBtn {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.1); }
  100% {
    transform: scale(1); } }

@keyframes scaleBtn {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.1); }
  100% {
    transform: scale(1); } }

.question .question__qnum {
  color: #e91f3f;
  font-weight: 800;
  font-size: 3.5vw;
  line-height: 4vw;
  margin-bottom: 8px;
  display: block; }

.question .question__title {
  color: #262626;
  text-transform: uppercase;
  font-family: "Rubik", sans-serif;
  text-align: left;
  font-weight: 400;
  font-size: 1.8vw;
  line-height: 1.4;
  min-height: 13vh;
  margin-bottom: 20px; }

.results {
  display: none; }
  .results .result {
    display: none; }
  .results .result.active {
    display: block;
    background: url("../images/test/test-result-bg.jpg");
    background-size: cover;
    background-position: center center;
    height: 100vh;
    width: 100vw; }
    .results .result.active .result__girl {
      width: 50%; }
      .results .result.active .result__girl img {
        max-width: 20vw;
        position: absolute;
        top: 80px;
        left: 4vw; }
    .results .result.active .result__logo {
      width: 18vw;
      right: 9vw;
      position: absolute;
      top: 35vh;
      max-width: 330px; }
      .results .result.active .result__logo img {
        width: 100%; }
    .results .result.active .result__text {
      color: #262626;
      position: absolute;
      top: 60vh;
      font-size: 1.5vw;
      width: 60vw;
      left: 33vw; }
    .results .result.active .result__top-text {
      position: absolute;
      top: 12vh;
      left: 33vw;
      color: #FFF;
      text-transform: uppercase;
      font-family: "Rubik", sans-serif;
      font-weight: 500;
      font-size: 3vw;
      line-height: 3vw;
      text-align: left; }
      .results .result.active .result__top-text img {
        width: 18vw; }

.results.active {
  display: block; }

.result_share {
  display: flex;
  justify-content: flex-end;
  margin-top: 40px; }

.packspage {
  background: #FFF;
  height: 100vh;
  overflow: hidden; }
  .packspage .packspage__top {
    background: url("../images/packs/packs-bg.jpg");
    background-size: cover;
    background-position: top center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 65vh;
    position: relative; }
    .packspage .packspage__top .packspage__packs {
      width: 80vw;
      bottom: -20vh;
      position: absolute;
      left: 10vw; }
      .packspage .packspage__top .packspage__packs img {
        width: 100%; }
  .packspage .packspage_text span {
    color: #FFF;
    text-transform: uppercase;
    font-family: "Rubik", sans-serif;
    font-weight: 500;
    font-size: 3.5vw;
    line-height: 4vw;
    margin: 40px; }
    @media (max-width: 768px) {
      .packspage .packspage_text span {
        margin: 20px; } }
  .packspage .packspage__logo {
    width: 20vw; }

.panelanswers {
  position: relative;
  width: 90%;
  display: inline-block;
  margin-left: 5%;
  padding-top: 50px; }
  @media (max-width: 768px) {
    .panelanswers {
      padding-top: 0px; } }
  .panelanswers .slider-runner {
    z-index: 3;
    -moz-transition: all 0.2s linear !important;
    -o-transition: all 0.2s linear !important;
    -webkit-transition: all 0.2s linear !important;
    transition: all 0.2s linear !important;
    width: 4%;
    position: absolute;
    left: 7%;
    max-width: 47px;
    margin-top: -8px; }
    @media (max-width: 768px) {
      .panelanswers .slider-runner {
        margin-top: -3px; } }
    .panelanswers .slider-runner img {
      width: 100%; }
  .panelanswers .panelanswers__item {
    width: 16.2%;
    margin: 0.2%;
    display: block;
    float: left; }
    .panelanswers .panelanswers__item .slider-root {
      -moz-transition: all 0.2s linear !important;
      -o-transition: all 0.2s linear !important;
      -webkit-transition: all 0.2s linear !important;
      transition: all 0.2s linear !important;
      height: 7px;
      background: #e91f3f;
      position: relative; }
  .panelanswers .panelanswers__item .slider-root:before {
    content: '';
    -moz-transition: all 0.2s linear !important;
    -o-transition: all 0.2s linear !important;
    -webkit-transition: all 0.2s linear !important;
    transition: all 0.2s linear !important;
    background: #FFF;
    width: 0%;
    height: 7px;
    position: absolute; }
  .panelanswers .panelanswers__item.active .slider-root:before {
    content: '';
    -moz-transition: all 0.2s linear !important;
    -o-transition: all 0.2s linear !important;
    -webkit-transition: all 0.2s linear !important;
    transition: all 0.2s linear !important;
    background: #FFF;
    width: 100% !important;
    height: 7px;
    position: absolute; }
  .panelanswers .panelanswers__item.current .slider-root:before {
    content: '';
    -moz-transition: all 0.2s linear !important;
    -o-transition: all 0.2s linear !important;
    -webkit-transition: all 0.2s linear !important;
    transition: all 0.2s linear !important;
    background: #FFF;
    height: 7px;
    position: absolute;
    -webkit-animation: move-current .2s linear .2s forwards;
    -moz-animation: move-current .2s linear .2s forwards;
    -ms-animation: move-current .2s linear .2s forwards;
    -o-animation: move-current .2s linear .2s forwards;
    animation: move-current .2s linear .2s forwards; }
  .panelanswers .panelanswers__item span {
    text-transform: uppercase;
    font-family: "Rubik", sans-serif;
    text-align: center;
    font-weight: 500;
    font-size: 0.9vw;
    line-height: 1.5vw;
    margin-top: 12px;
    display: block; }

.panelanswers.hide {
  display: none; }

@-webkit-keyframes move-current {
  0% {
    width: 0; }
  100% {
    width: 50%; } }

@-moz-keyframes move-current {
  0% {
    width: 0; }
  100% {
    width: 50%; } }

@-ms-keyframes move-current {
  0% {
    width: 0; }
  100% {
    width: 50%; } }

@-o-keyframes move-current {
  0% {
    width: 0; }
  100% {
    width: 50%; } }

@keyframes move-current {
  0% {
    width: 0; }
  100% {
    width: 50%; } }

html {
  box-sizing: border-box;
  font-size: 15px; }
  @media (max-width: 480px) {
    html {
      font-size: 15px; } }
  @media (min-width: 481px) and (max-width: 767px) {
    html {
      font-size: 14px; } }
  @media (min-width: 768px) and (max-width: 1024px) {
    html {
      font-size: 14px; } }
  @media (min-width: 1025px) and (max-width: 1280px) {
    html {
      font-size: 16px; } }
  @media (min-width: 1280px) {
    html {
      font-size: 17px; } }
  @media (min-width: 1280px) {
    html {
      font-size: 17px; } }
  @media (max-width: 767px) {
    html {
      overflow-x: hidden; } }

*,
*:before,
*:after {
  box-sizing: inherit; }

body {
  margin: 0;
  padding: 0;
  color: #262626;
  line-height: 1.3;
  font-family: "Rubik", sans-serif;
  font-weight: 300;
  background: #FFF;
  min-height: 100vh;
  text-align: left;
  overflow-x: hidden; }

body.change {
  height: 100vh; }

body.scrollfix {
  overflow: scroll !important; }

ul {
  padding: 0; }

h2 {
  text-align: center;
  color: #262626;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  margin-top: 4.5vh;
  font-size: 2.2rem;
  font-family: "Rubik", sans-serif; }

@media (max-width: 768px) {
  article.testpage,
  article.videofullpage {
    padding-top: 0; } }

.change-screen {
  display: none; }

.change-screen.active {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../images/change-or-bg.jpg");
  background-size: cover;
  background-position: top center;
  color: #FFF;
  font-family: "Rubik", sans-serif;
  font-size: 1.1rem;
  line-height: 1.2;
  text-align: center;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  position: absolute;
  top: 0;
  overflow: hidden;
  text-transform: upppercase;
  flex-direction: column; }
  .change-screen.active img {
    width: 80%; }
  .change-screen.active span {
    text-transform: upppercase;
    margin-top: 15px; }
